body{
    background-color: #CFC5D9;
    font-family: Arial;
}

a{text-decoration: none; color:black;}

a:hover{text-decoration: none;}

body>header{
    background-color: #3E2EA6;
    display:flex;
    width:100%;
    margin:0 auto 2em auto;    
    padding:0;

}
body>header img{
    padding:0.5em;
    width:30%;
    transform: rotate(-10deg);
}
body>header #menu {
    display:flex;
    width:65%;
    align-items: center;
    border-left: 1px solid #3E2EA6;
    
}
body>header #menu a{
    flex:1;
    text-align: center;
    border-right: 1px solid #3E2EA6;
    color:#D99F59;
    font-size: 1.13em;
}

body>header #menu a:hover{
    color:#f0ca79;
}

body>header ul{list-style: none;}
body>header #user
{
    margin-left: auto;
    flex:0.2;
    border-left: 1px solid #3E2EA6;
    align-items: center;
}
body>header #user>a{
    display:block;
    text-align: center;
    padding:2em 0;
    width:100%;
    color:#D99F59;
    font-size: 1.13em;
}
body>header #user>a:hover {
    color:#f0ca79;
}
body>header #user ul{ 
    display: none;
    position: absolute;
    padding:0;
    margin:0;
    margin-left:-5em;
    background-color: #fff;
    border: 1px solid #3E2EA6;

    z-index: 1;
}
body>header #user ul li a{
    display:block;
    width:10em;
    padding:1em;
    border-bottom: 1px solid #3E2EA6;
}
body>header #user:hover ul{
    display:block;
}


#wrapper{
    display:flex;    
    width:80em;
    margin:0 auto 2em auto;
}
#wrapper aside{
    background-color: #fff;
    flex:1;
    padding:1em;
    border-radius: 1em;    
}
#wrapper aside h3 {
    color:#3E2EA6;
    text-align:center;
}

#wrapper aside p {
    text-align:center;
}
#wrapper aside img{
    display: block;
    width:50%;
    margin:auto;
}

#wrapper main{
    flex:3;
    padding-left:1em;
    height: 80vh;
    overflow-y:  scroll;
}
#wrapper main article{
    background-color: white;;
    padding:1em;
    margin-bottom: 1em ;
    border-radius: 1em;
}
#wrapper main article h3{
    margin:0;
    padding:0;
    font-weight: bold;
    font-size:1em;
    color:#3E2EA6;

}
#wrapper main article time{
    float:left;
}
#wrapper main article address{
    text-align: right;
    margin-bottom: 1em;
    font-weight:bold;
}
#wrapper main article p{
    margin:0;
}
#wrapper main article footer{
    margin-top: 1em;
    color: #D99F59;
    text-align:right;
    padding-bottom:0.5em;
}
#wrapper main article footer small{
    float:left;
    text-align:left;
    padding-top: 0.4em;
    font-weight: bold;
    font-size: 15px;
}
#wrapper main article footer img {
    width:4%;
    float:left;
    padding-right: 0.5em;
}
#wrapper main article footer {
    text-align:right;
}
#wrapper.admin{flex-direction: row-reverse}
#wrapper.admin aside{flex:1;margin-left:1em;border-radius:0;padding:0;}
#wrapper.admin main{flex:2;background-color: #fff;border-radius: 0;padding:0;}
#wrapper.admin h2{text-align: center;}
#wrapper.admin h3{margin:0;}
#wrapper.admin nav{text-align: right;}
#wrapper.admin article{border:1px solid #ddd;border-radius: 1em;padding:1em;margin:1em;}
#wrapper.admin article p{float:left;margin:0;}


.parameters dl dt{float:left;font-weight: bold;line-height: 1.5em;}
.parameters dl dd{margin-left:15em;line-height: 1.5em;}

.contacts {
    display:flex;
    flex-wrap: wrap;
    align-items:flex-start;
    align-content: flex-start ;
}
.contacts article{
    width:25em;
    height:7em;
    margin-right: 1em;
}
.contacts article img{
    float:right;
    height: 5em;
}

pre{
    color:#aaa;
}

#citation {
    font-style: italic;
}

#connexion {overflow-y: hidden !important;}

#connexion h2 {
    color: #3E2EA6 !important;}
#connexion article {
    text-align:center !important;
    height:800px !important;
    padding-top:12em !important;
}
#connexion label {
    font-weight: bold !important;
}


 input[type=submit] {
    background-color:#D99F59;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }
  
  .submitButton:hover {
background-color:#f0ca79;
  }
  
  #wrapper aside h2 {
      text-align:center !important;
      color:#3E2EA6 !important;
  }



 #usurpedpost { overflow-y: hidden !important;}

 #inscription {
    overflow-y: hidden !important;
 }

 #inscription h2 {
     color: #3E2EA6 !important;
 }

 #inscription label {
    font-weight: bold !important;
}
#numberlikes, #exemple, #smallwall {
    padding-top:0.8em !important;
}

#abonnement {
    background-color:#3E2EA6;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    text-align:center;
    margin-left: 7em;
  }
  
#abonnement:hover {
background-color:#8C84BF;
  }